<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="no-js no-jr">
<head>
   <title>Article 4</title>
   <meta charset="utf-8">

   <!-- custom stuff for sils-annotator -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/annotator.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
   <!--<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.js') }}"></script>-->
   <script type="text/javascript" src="{{ url_for('static', filename='js/underscore.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.scrollTo-1.4.3.1-min.js') }}"></script>

   <script type="text/javascript"> apiRoot = "{{ g.api_root }}"</script>


   <!-- stuff for the off-the-shelf annotator.js -->

   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/preamble.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/class.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/console.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/extensions.js') }}"></script>


   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/range.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/annotator.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/plugin/store.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/plugin/scrollbar.js') }}"></script>


   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/widget.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/editor.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/viewer.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/notification.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/silsannotate.js') }}"></script>

</head>
<body>
   <h1>Article 4</h1>

   <!-- Paste the html for article 4 here -->
</body>