<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="no-js no-jr">
<head>
   <title>Pilot test 2</title>
   <meta charset="utf-8">

   <!-- custom stuff for sils-annotator -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/annotator.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
   <!--<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.js') }}"></script>-->
   <script type="text/javascript" src="{{ url_for('static', filename='js/underscore.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.scrollTo-1.4.3.1-min.js') }}"></script>

   <script type="text/javascript"> apiRoot = "{{ g.api_root }}"</script>


   <!-- stuff for the off-the-shelf annotator.js -->

   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/preamble.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/class.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/console.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/extensions.js') }}"></script>


   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/range.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/annotator.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/plugin/store.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/plugin/scrollbar.js') }}"></script>


   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/widget.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/editor.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/viewer.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/annotator/notification.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/silsannotate.js') }}"></script>

</head>
<body>
   <h1>Pilot test 2</h1>
   <h1>Privacy Policies as Decision-Making Tools:An Evaluation of Online Privacy Notices</h1>
   <p>Carlos Jensen, Colin Potts</p>

   <h2>ABSTRACT</h2>
   <p>their online privacy <a href="#jupiter">[9]</a>. In a separate study, 69% said that they were “concerned about [online] privacy invasions and try to take action to prevent them from happening to [them]” [5]. This concern may not be unfounded. According to a recent study (91%) of U.S. Web sites collect personal information and 90% collect personally identifying information [1].Shenmenng &amp; Shumeng</p>
   
   <h2>Reference</h2>
   <p id="jupiter">Jupiter Research, “Security and Privacy Data.” FTC Security Workshop, May 20, 2002</p>
   <!-- Paste the html for article 2 here -->
</body>