body {
  line-height: 1.2;
}
body div#menubar {
  z-index: 100;
  width: 200px;
  text-align: right;
  top: 0;
  right: 35px;
  width: 600px;
  font-family: Helvetica, arial, sans-serif;
  border-top: none;
  position: fixed;
  height: 20px;
}
body div#menubar div.submenu {
  background: #fff;
  border: 1px solid #333;
  border-top: none;
  box-shadow: 0 0px 5px #333;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 5px;
  height: 20px;
  float: right;
}
body div#menubar div.submenu.enable-annotation {
  margin-left: 15px;
}
body div#menubar div.submenu ul {
  padding: 0;
  margin: 0 0 0 5px;
  float: left;
}
body div#menubar div.submenu ul li {
  list-style-type: none;
  float: left;
}
body div#menubar div.submenu ul li a {
  border-right: 1px solid #fff;
  font-size: 14px;
  padding: 4px 3px 3px 4px;
  text-decoration: none;
  cursor: pointer;
}
body div#menubar div.submenu ul li a:hover {
  text-decoration: underline;
  color: blue;
}
body div#menubar div.submenu ul li a.active {
  color: #fff;
  background: blue;
  font-weight: bold;
}
body div#menubar div.submenu ul li a.active:hover {
  text-decoration: none;
  cursor: default;
}
body div#menubar div.submenu ul li a.ready.disabled {
  color: #ccc;
  cursor: default;
}
body div#menubar div.submenu ul li a.ready.disabled:hover {
  text-decoration: none;
}
body div#menubar h3 {
  float: left;
  margin: 0 0 0 15px;
  font-size: 14px;
  font-weight: bold;
  color: blue;
  font-family: helvetica, arial, sans-serif;
}
body div.annotator-wrapper {
  margin: 50px 50px 50px 100px;
}
body div.annotator-wrapper span.annotator-hl {
  background: rgba(255, 255, 10, 0.1);
}
body div.annotator-wrapper span.annotator-hl.active {
  background: rgba(255, 10, 0, 0.2);
}
body div.annotator-wrapper .text-container {
  position: relative;
  width: 600px;
}
body div.annotator-wrapper .text-container.hidden div.anno-display {
  display: none;
}
body div.annotator-wrapper .text-container.hidden .annotator-hl {
  background: transparent;
}
body div.annotator-wrapper .text-container.icons div.anno-display ul.container-states li.icons {
  color: #333;
  font-weight: bold;
}
body div.annotator-wrapper .text-container.icons div.anno-display ul.sils-annos li {
  width: auto;
  clear: none;
  float: left;
}
body div.annotator-wrapper .text-container.icons div.anno-display ul.sils-annos li span.text {
  display: none;
}
body div.annotator-wrapper .text-container.icons div.anno-display ul.sils-annos li img {
  margin-right: 2px;
}
body div.annotator-wrapper .text-container.snippets div.anno-display ul.container-states li.snippets {
  color: #333;
  font-weight: bold;
}
body div.annotator-wrapper .text-container.snippets div.anno-display ul.sils-annos li {
  height: 23px;
  min-height: 0;
  overflow-y: hidden;
  position: relative;
  padding-left: 8px;
}
body div.annotator-wrapper .text-container.snippets div.anno-display ul.sils-annos li.long {
  height: 35px;
}
body div.annotator-wrapper .text-container.snippets div.anno-display ul.sils-annos li.long.extra-long div.more-indicator {
  display: block;
  float: left;
  position: absolute;
  left: 0;
  font-size: 12px;
}
body div.annotator-wrapper .text-container.snippets div.anno-display ul.sils-annos li.long.extra-long div.mask {
  background: url(../img/gradient-mask.png) bottom right;
  bottom: 0;
  right: 0;
  position: absolute;
  height: 20px;
  width: 100%;
}
body div.annotator-wrapper .text-container.snippets div.anno-display ul.sils-annos li.long:hover div.mask {
  background: transparent;
}
body div.annotator-wrapper .text-container.full div.anno-display ul.container-states li.full {
  color: #333;
  font-weight: bold;
}
body div.annotator-wrapper .text-container.no-annos ul.container-states {
  display: none;
}
body div.annotator-wrapper .text-container.no-annos div.anno-display ul.sils-annos {
  border-top: none;
}
body div.annotator-wrapper .text-container div.anno-display {
  clear: both;
  position: absolute;
  width: 400px;
  top: 0;
  left: 650px;
  height: 100%;
}
body div.annotator-wrapper .text-container div.anno-display ul.container-states {
  font-weight: normal;
  font-family: helvetica, arial, sans-serif;
  position: absolute;
  top: -25px;
  color: #ccc;
  right: 0;
  padding: 0;
  font-size: 12px;
  margin-top: 10px;
}
body div.annotator-wrapper .text-container div.anno-display ul.container-states li {
  display: inline;
  list-style-type: none;
  margin-right: 5px;
}
body div.annotator-wrapper .text-container div.anno-display ul.container-states li.state {
  cursor: pointer;
}
body div.annotator-wrapper .text-container div.anno-display ul.container-states li.state:hover {
  border-top: 1px solid #ccc;
}
body div.annotator-wrapper .text-container div.anno-display ul.sils-annos {
  width: 100%;
  padding: 0;
  margin: -3px 0 5px 5px;
  border-top: 1px solid #ccc;
}
body div.annotator-wrapper .text-container div.anno-display ul.sils-annos.active li {
  background: #fff;
  z-index: 10;
}
body div.annotator-wrapper .text-container div.anno-display ul.sils-annos li {
  width: 100%;
  padding: 2px 2px 5px 2px;
  min-height: 25px;
  font-weight: normal;
  margin: 1px 0 3px 0;
  clear: both;
  list-style-type: none;
  border-radius: 6px;
  cursor: default;
}
body div.annotator-wrapper .text-container div.anno-display ul.sils-annos li.active {
  background: lightpink;
}
body div.annotator-wrapper .text-container div.anno-display ul.sils-annos li.active img {
  border: 1px solid red;
}
body div.annotator-wrapper .text-container div.anno-display ul.sils-annos li.active.long.extra-long {
  height: auto;
}
body div.annotator-wrapper .text-container div.anno-display ul.sils-annos li.active.long.extra-long div.mask {
  display: none;
}
body div.annotator-wrapper .text-container div.anno-display ul.sils-annos li.active.long.extra-long div.more-indicator {
  display: none;
}
body div.annotator-wrapper .text-container div.anno-display ul.sils-annos li div.more-indicator {
  display: none;
}
body div.annotator-wrapper .text-container div.anno-display ul.sils-annos li img {
  margin-right: 5px;
  height: 24px;
  width: 24px;
  border: 1px solid #333;
  float: left;
  border-radius: 6px;
}
body div.annotator-wrapper .text-container div.anno-display ul.sils-annos li span.text {
  padding-bottom: 4px;
  font-family: verdana, sans-serif;
  color: #444;
  font-size: 11px;
  display: block;
  margin-left: 3px;
}
body div.annotator-wrapper .text-container div.anno-display ul.sils-annos li span.text span.username {
  font-weight: bold;
  margin-right: 4px;
}
#scrollbar {
  width: 24px;
  position: fixed;
  top: 0;
  right: 10px;
  bottom: 0;
  background: #333;
}
#scrollbar.hidden {
  display: none;
}
#scrollbar div.scrollbar-block {
  position: fixed;
  opacity: .3;
  background: yellow;
  width: 25px;
}
#scrollbar div.scrollbar-block.active {
  background: red;
  opacity: 1;
  margin-left: -3px;
  padding-right: 3px;
  z-index: 100;
}
.annotator-viewer {
  position: fixed;
  top: 0;
  right: 100px;
  height: 100%;
}
.annotator-editor .annotator-controls .annotator-save {
  display: none;
}
