body {
  line-height: 1.2;
}
body div.annotator-wrapper {
  position: relative;
  z-index: 3;
  width: 600px;
  float: right;
  margin: 50px 480px 50px 0;
}
body div.annotator-wrapper span.annotator-hl {
  background: rgba(255, 255, 10, 0.1);
}
body div.annotator-wrapper span.annotator-hl.active {
  background: rgba(255, 255, 10, 0.6);
}
#scrollbar {
  width: 30px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  border-left: 1px solid #ddd;
}
#scrollbar div.scrollbar-block {
  position: fixed;
  opacity: .1;
  background: #000;
  width: 100%;
}
#filmstrip {
  width: 400px;
  position: fixed;
  top: 0;
  right: 30px;
  bottom: 0;
  background: #fff;
}
#filmstrip ul.main {
  width: 100%;
  padding: 0;
  margin: 0;
}
#filmstrip ul.main li {
  width: 100%;
  padding: 2px 2px;
  margin: 0;
  list-style-type: none;
  height: 20px;
  border-bottom: 1px solid #bbb;
}
#filmstrip ul.main li img {
  margin-right: 5px;
  height: 20px;
  float: left;
}
#filmstrip ul.main li span.text {
  padding-bottom: 4px;
  float: left;
  margin-top: 4px;
  font-family: verdana, sans-serif;
  color: #444;
  font-size: 11px;
}
div.lens-shutter {
  background: #fafafa;
  width: 100%;
  position: fixed;
  right: 430px;
  z-index: 0;
}
div.lens-shutter img.bracket {
  position: absolute;
  width: 50px;
  height: 100%;
  right: 0;
  top: 0;
}
div.lens-shutter.top {
  top: 0;
}
div.lens-shutter.top div.main {
  border-bottom: 1px solid #eee;
}
div.lens-shutter.bottom {
  bottom: 0;
}
div.lens-shutter.bottom div.main {
  border-top: 1px solid #eee;
}
.annotator-viewer {
  position: fixed;
  top: 0;
  right: 100px;
  height: 100%;
}
