body {
  line-height: 1.2;
}
body div.annotator-wrapper {
  margin: 50px 50px 50px 100px;
}
body div.annotator-wrapper span.annotator-hl {
  background: rgba(255, 255, 10, 0.1);
}
body div.annotator-wrapper span.annotator-hl.active {
  background: rgba(255, 0, 0, 0.4);
}
body div.annotator-wrapper h1,
body div.annotator-wrapper h2,
body div.annotator-wrapper h3,
body div.annotator-wrapper h4,
body div.annotator-wrapper h5,
body div.annotator-wrapper h6,
body div.annotator-wrapper p {
  position: relative;
  width: 600px;
}
body div.annotator-wrapper h1 div.anno-display,
body div.annotator-wrapper h2 div.anno-display,
body div.annotator-wrapper h3 div.anno-display,
body div.annotator-wrapper h4 div.anno-display,
body div.annotator-wrapper h5 div.anno-display,
body div.annotator-wrapper h6 div.anno-display,
body div.annotator-wrapper p div.anno-display {
  clear: both;
  position: absolute;
  width: 400px;
  top: 0;
  left: 630px;
  height: 100%;
}
body div.annotator-wrapper h1 div.anno-display ul.sils-annos,
body div.annotator-wrapper h2 div.anno-display ul.sils-annos,
body div.annotator-wrapper h3 div.anno-display ul.sils-annos,
body div.annotator-wrapper h4 div.anno-display ul.sils-annos,
body div.annotator-wrapper h5 div.anno-display ul.sils-annos,
body div.annotator-wrapper h6 div.anno-display ul.sils-annos,
body div.annotator-wrapper p div.anno-display ul.sils-annos {
  width: 100%;
  padding: 0;
  margin: -3px 0 5px 5px;
  padding-top: 4px;
}
body div.annotator-wrapper h1 div.anno-display ul.sils-annos li,
body div.annotator-wrapper h2 div.anno-display ul.sils-annos li,
body div.annotator-wrapper h3 div.anno-display ul.sils-annos li,
body div.annotator-wrapper h4 div.anno-display ul.sils-annos li,
body div.annotator-wrapper h5 div.anno-display ul.sils-annos li,
body div.annotator-wrapper h6 div.anno-display ul.sils-annos li,
body div.annotator-wrapper p div.anno-display ul.sils-annos li {
  width: 100%;
  padding: 2px 2px 5px 2px;
  min-height: 25px;
  font-weight: normal;
  margin: 0;
  clear: both;
  list-style-type: none;
  border-radius: 6px;
  cursor: default;
}
body div.annotator-wrapper h1 div.anno-display ul.sils-annos li.active,
body div.annotator-wrapper h2 div.anno-display ul.sils-annos li.active,
body div.annotator-wrapper h3 div.anno-display ul.sils-annos li.active,
body div.annotator-wrapper h4 div.anno-display ul.sils-annos li.active,
body div.annotator-wrapper h5 div.anno-display ul.sils-annos li.active,
body div.annotator-wrapper h6 div.anno-display ul.sils-annos li.active,
body div.annotator-wrapper p div.anno-display ul.sils-annos li.active {
  background: lightpink;
}
body div.annotator-wrapper h1 div.anno-display ul.sils-annos li.active img,
body div.annotator-wrapper h2 div.anno-display ul.sils-annos li.active img,
body div.annotator-wrapper h3 div.anno-display ul.sils-annos li.active img,
body div.annotator-wrapper h4 div.anno-display ul.sils-annos li.active img,
body div.annotator-wrapper h5 div.anno-display ul.sils-annos li.active img,
body div.annotator-wrapper h6 div.anno-display ul.sils-annos li.active img,
body div.annotator-wrapper p div.anno-display ul.sils-annos li.active img {
  border: 1px solid red;
}
body div.annotator-wrapper h1 div.anno-display ul.sils-annos li img,
body div.annotator-wrapper h2 div.anno-display ul.sils-annos li img,
body div.annotator-wrapper h3 div.anno-display ul.sils-annos li img,
body div.annotator-wrapper h4 div.anno-display ul.sils-annos li img,
body div.annotator-wrapper h5 div.anno-display ul.sils-annos li img,
body div.annotator-wrapper h6 div.anno-display ul.sils-annos li img,
body div.annotator-wrapper p div.anno-display ul.sils-annos li img {
  margin-right: 5px;
  height: 24px;
  width: 24px;
  border: 1px solid #333;
  float: left;
  border-radius: 6px;
}
body div.annotator-wrapper h1 div.anno-display ul.sils-annos li span.text,
body div.annotator-wrapper h2 div.anno-display ul.sils-annos li span.text,
body div.annotator-wrapper h3 div.anno-display ul.sils-annos li span.text,
body div.annotator-wrapper h4 div.anno-display ul.sils-annos li span.text,
body div.annotator-wrapper h5 div.anno-display ul.sils-annos li span.text,
body div.annotator-wrapper h6 div.anno-display ul.sils-annos li span.text,
body div.annotator-wrapper p div.anno-display ul.sils-annos li span.text {
  padding-bottom: 4px;
  font-family: verdana, sans-serif;
  color: #444;
  font-size: 11px;
  display: block;
  margin-left: 3px;
}
#scrollbar {
  width: 15px;
  position: fixed;
  top: 0;
  right: 10px;
  bottom: 0;
  background: #333;
}
#scrollbar div.scrollbar-block {
  position: fixed;
  opacity: .3;
  background: yellow;
  width: 15px;
}
div.lens-shutter {
  background: #fafafa;
  width: 100%;
  position: fixed;
  right: 430px;
  z-index: 0;
}
div.lens-shutter img.bracket {
  position: absolute;
  width: 50px;
  height: 100%;
  right: 0;
  top: 0;
}
div.lens-shutter.top {
  top: 0;
}
div.lens-shutter.top div.main {
  border-bottom: 1px solid #eee;
}
div.lens-shutter.bottom {
  bottom: 0;
}
div.lens-shutter.bottom div.main {
  border-top: 1px solid #eee;
}
.annotator-viewer {
  position: fixed;
  top: 0;
  right: 100px;
  height: 100%;
}
.annotator-editor .annotator-controls .annotator-save {
  display: none;
}
