body {
  width: 600px;
  margin: 50px auto;
  line-height: 1.2;
}
#scrollbar {
  width: 30px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  border-left: 1px solid #ddd;
}
#scrollbar div.scrollbar-block {
  position: fixed;
  opacity: .1;
  background: #000;
  width: 100%;
}
.annotator-viewer {
  position: fixed;
  top: 0;
  right: 100px;
  height: 100%;
}
