body {
   line-height: 1.2;
   background: #fafafa;
   margin: 0;
   div.annotator-wrapper {
      display:table-row;

   }
}

div#jr-content {
   float:right;
   display:table-cell;
   height: 100%;
   margin-top: 50px;
   article{
      float:right;
      width:  600px;
      margin-right: 50px;
      img {
         width: 20px;
         height: 20px;
      }
   }
}

#scrollbar {
   width: 30px;
   position: fixed;
   top:0;
   right:0;
   bottom:0;
   background: #eee;
   border-left:1px solid #ddd;
   div.scrollbar-block {
      position:fixed;
      opacity: .1;
      background: #000;
      width: 100%;
   }
}



#filmstrip {
   width: 400px;
   background: #fff;
   border-left:1px solid #ddd;
   box-shadow:  0px 0px 15px #000;
   display:table-cell;
   height: 100%;
}


.annotator-viewer {
   position:  fixed;
   top: 0;
   right: 100px;
   height: 100%;
}