@snippetHeight: 23px;

body {
   div#menubar {
      position: fixed;
      width: 200px;
      background: #fff;
      text-align: right;
      top: 0;
      right: 30px;
      width:  600px;
      font-family: Helvetica, arial, sans-serif;
      border-top: none;
      position: fixed;
      height: 20px;
      background: #fff;
      div.submenu {
         border: 1px solid #333;
         border-top: none;
         box-shadow: 0 0px 5px #333;
         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 5px;
         padding-right:5px;
         height: 20px;
         float:right;
         &.enable-annotation { margin-left:15px;}
         ul {
            padding: 0;
            margin: 0 0 0 5px;
            float:left;
            li {
               list-style-type: none;
               float:left;
               a {
                  border-right: 1px solid #fff;
                  font-size: 14px;
                  padding: 4px 3px 3px 4px;
                  text-decoration: none;
                  cursor: pointer;
                  &:hover {
                     text-decoration: underline;
                     color: blue;
                  }
                  &.active {
                     color:  #fff;
                     background: blue;
                     font-weight: bold;
                     &:hover {text-decoration: none; cursor: default;}
                  }
                  &.ready {
                     &.disabled {
                        color: #ccc;
                        &:hover {text-decoration: none;}
                        cursor: default;
                     }
                  }
               }
            }
         }
      }
      h3 {
         float:left;
         margin: 0 0 0 15px;
         font-size: 14px;
         font-weight: bold;
         color: blue;
         font-family: helvetica, arial, sans-serif;
      }
   }
   line-height: 1.2;
   div.annotator-wrapper {
      margin: 50px 50px 50px 100px;
      span.annotator-hl {
         background: rgba(255, 255, 10, 0.2);
         &.active {
            background: rgba(255, 0, 0, 0.4);
            span.annotator-hl {
               background: rgba(255, 0, 0, 0.4);
            }
         }
      }
      .text-container {
         position: relative;
         width: 600px;

         &.hidden {
            div.anno-display {display:none;}
            .annotator-hl {background:transparent;}
         }

         &.icons {
            div.anno-display {
               ul.sils-annos {
                  li {
                     width: auto;
                     clear:none;
                     float:left;
                     span.text {
                        display:none;
                     }
                     img {
                        margin-right:2px;
                     }
                  }
               }
            }
         }
         &.snippets {
            div.anno-display {
               ul.sils-annos {
                  li {
                     height: @snippetHeight;
                     min-height: 0;
                     overflow-y: hidden;
                     position: relative;
                     padding-left:8px;
                     &.long{
                        div.more-indicator {
                           display: block;
                           float:left;
                           position: absolute;
                           left: 0;
                           font-size: 12px;
                        }
                        div.mask {
                           background: url(../img/gradient-mask.png) bottom right;
                           bottom: 0;
                           right: 0;
                           position: absolute;
                           height: 16px;
                           width: 200px;
                        }
                        &:hover {
                           div.mask { background: transparent;}
                        }
                     }
                  }
               }
            }
         }

         div.anno-display{
            clear:both;
            position: absolute;
            width: 400px;
            top: 0;
            left: 650px;
            height: 100%;
            ul.sils-annos {
               width: 100%;
               padding: 0;
               margin: -3px 0 5px 5px;
               padding-top: 4px;

               li {
                  width: 100%;
                  padding: 2px 2px 5px 2px;
                  min-height: 25px;
                  font-weight: normal;
                  margin: 1px 0 3px 0;
                  clear:both;
                  list-style-type: none;
                  border-radius: 6px;
                  cursor: default;
                  &.active {
                     img {
                        border: 1px solid red;
                     }
                     background: lightpink;

                  }
                  div.more-indicator {display:none;}
                  img {
                     margin-right: 5px;
                     height: 24px;
                     width:  24px;
                     border: 1px solid #333;
                     float:left;
                     border-radius: 6px;
                  }
                  span.text {
                     padding-bottom: 4px;
                     font-family: verdana, sans-serif;
                     color: #444;
                     font-size: 11px;
                     display:block;
                     margin-left: 3px;
                  }
               }
            }
         }
      }
   }
}

#scrollbar {
   width: 15px;
   position: fixed;
   top:0;
   right:10px;
   bottom:0;
   background: #333;
   &.hidden {
      display:none;
   }
   div.scrollbar-block {
      position:fixed;
      opacity: .3;
      background: yellow;
      width: 15px;
      &.active {
         background: red;
         opacity: 1;
         margin-left:-3px;
         padding-right:3px;
         z-index: 100;
      }
   }
}



.annotator-viewer {
   position:  fixed;
   top: 0;
   right: 100px;
   height: 100%;
}
.annotator-editor {
   .annotator-controls {
      .annotator-save {display:none;}
   }
}