body {
   line-height: 1.2;
   div.annotator-wrapper {
      position: relative;
      z-index:3;
      width: 600px;
      float:right;
      margin:50px 480px 50px 0;
      span.annotator-hl {
         background: rgba(255, 255, 10, 0.1);
         &.active {
            background: rgba(255, 0, 0, 0.4);
         }
      }
   }
}

#scrollbar {
   width: 15px;
   position: fixed;
   top:0;
   right:10px;
   bottom:0;
   background: #333;
   div.scrollbar-block {
      position:fixed;
      opacity: .3;
      background: yellow;
      width: 15px;
   }
}



#filmstrip {
   width: 405px;
   position: fixed;
   top:0;
   right:25px;
   bottom:0;
   background: #fff;
   z-index: 10;
   div.filter {
      height: 20px;
   }
   ul.main {
      width: 100%;
      padding: 0;
      margin: 0;
      li {
         width: 100%;
         padding: 2px 0;
         margin: 0;
         list-style-type: none;
         height: 20px;
         border-bottom: 1px solid #bbb;
         img {
            margin-right: 5px;
            height: 20px;
            float:left;
         }
         span.text {
            padding-bottom: 4px;
            float:left;
            margin-top: 4px;
            font-family: verdana, sans-serif;
            color: #444;
            font-size: 11px;
         }
      }
   }
}

div.lens-shutter {
   background: #fafafa;
   width: 100%;
   position: fixed;
   right: 430px;
   z-index: 0;

   img.bracket {
      position: absolute;
      width: 50px;
      height: 100%;
      right: 0;
      top: 0;
   }

   &.top {
      top: 0;
      div.main {
         border-bottom: 1px solid #eee;
      }

   }
   &.bottom {
      bottom: 0;
      div.main {
         border-top: 1px solid #eee;
      }
   }
}


.annotator-viewer {
   position:  fixed;
   top: 0;
   right: 100px;
   height: 100%;
}
.annotator-editor {
   .annotator-controls {
      .annotator-save {display:none;}
   }
}